
:host(.hidden) {
    display: none;
    

}

:host(.no-match) {
    display:none;
}

:host {
    display: block;
    min-width: 0;
}

div {
    /* padding: 8px; */
    height: calc(1/7 * 50vh - var(--gap-size) * 1);
    background-color: #5f5f5f;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: grab;
    transition: all 0.2s ease;
    user-select: none;
    overflow-wrap: normal;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    text-align: center;
    align-content: center;
}
