
:host{
    padding: 8px;
    background-color: rgb(175, 175, 175);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: grab;
    transition: all 0.2s ease;
    user-select: none;
    word-wrap: break-word;
    flex-shrink: 0;
}
