:host{
    flex-grow:1;
}

div{
    background-color: rgb(52, 171, 201);
    font-weight: 600;
    color: black;
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
}

div:hover{
    cursor: pointer;
    background-color: rgb(42, 137, 161);
}