
<div class="overlay" *ngIf="overlayStatus != OVERLAY_STATUS.OFF">
    <div class="overlay-loading-bar"
        *ngIf="overlayStatus == OVERLAY_STATUS.LOADING">
        <div class="loading-bar"></div>
    </div>
    <div class="overlay-error"
        *ngIf="overlayStatus == OVERLAY_STATUS.ERROR">
        <p>An error occurred.</p>
    </div>
</div>

<div *ngFor="let i of range(8)"
class="semesters"
>
    <div class="semester-header">
        Semester {{i + 1}}
    </div>
    
    <div *ngFor="let j of range(6)" class="course">
        <app-timeline-slot #timelineSlot
            (resetCourse)="resetCourse($event)"
            (setCourse)="setCourse($event, i, j)"
            (setState)="setState($event, i, j)"
            [course]="currentCourse(i, j)">
        </app-timeline-slot>
    </div>
</div>