
*{
    gap: var(--gap-size);

}
.course-list{
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-size); */
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    min-height: 0;
    font-size: clamp(.5em , 1.5vw, 1em);
    white-space: nowrap;
}
